*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
}

body {
  background-image: radial-gradient(circle at 50% 39.65%, #ff56ff 0, #c14bff 25%, #783cf2 50%, #1b2cc7 75%, #001fa0 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchcity{display: flex;}

.search{
  padding: .4rem;
  display: flex;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  text-align: center;
  text-transform: capitalize;
  z-index: 5;
  
}

.container{
  position: absolute;
  width: 18rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: .2rem .2rem .2rem .2rem#000000ba;
  align-items: center;
  padding: 1rem 0 0;
  gap: 0.15rem;
}

.cristal{ 
  border: 1px solid #fff;
  position: absolute;
  width: 18rem;
  height: 24rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: .04rem .04rem .1rem .1rem#ffffffba;
  align-items: center;
  padding: 1rem 0 0;
  gap: 0.15rem;
  background: linear-gradient(180deg, #ffffff5b, #a8a8a861);
  z-index: -12;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translate(0, 0);

}

.plus:hover {
  cursor: pointer;
}

.opened{
  transition: transform 1s;
  transform: translate(0, 6rem);
 
}

.opened2{
  transition: transform 1s;
  transform: translate(0, -6rem);
  
}

.closed{
  transition:transform 1s;
  transform: translate(0, 0);
  
}

.closed2{
  transition:transform 1s;
  transform: translate(0, 0);
  
}

.container.day{
  background: linear-gradient(180deg, #00a2ff, #9ed5ff);
  border: 2px solid #333;
}

.container.night{
  background: linear-gradient(180deg, rgb(0 0 68), #000eae);
  border: 2px solid #848484;
}

.cityform{
  margin: 2rem auto 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
 
}

.tempnumber{
  display: flex;
  align-items: center;
  margin: none;
  padding: none;
  height: 90px;
}

.tempcelcius{
  text-align: center;
  color:white;
  font-weight: 400;
  font-size: 6rem;

}

#weathericon{
  translate: 0 -1rem;
  width: 150px;
  height:125px;
}

.tempsimbol{
  text-align: center;
  color:white;
  font-weight: 400;
  font-size: 3.4rem;

}

.datos{
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.searchcity > button{
  visibility: hidden;
}

.location {
  display: flex;
  color:white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.date{
  color:white;
  
}

.description, .cityname{
  font-size: 1.3rem;
  font-weight: 600;
  color:white;
  text-transform: capitalize;
}

.wind1 {
  width: 9rem;
  height: 3rem;
  color:white;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;

}

.hor{
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.hor2{
  display: flex;
  align-items: center;

}

.hor3{
  display: flex;
  align-items: center;
  padding: 0.6rem;
}

.ver2{
  width: 9rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;

}

.wind2 {
  width: 9rem;
  height: 6rem;
  color:white;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  gap: 0.1rem;
  padding: 0.3rem;

}

.minmax{
  width: 18rem;
  height: 2.4rem;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.dart{
  border-radius: 50%;
  background-image: conic-gradient(at 50% 0%, rgb(0 0 255 / 0%) 45%,rgb(0 0 255 / 0%) 47%, rgb(255 255 255) 47%, rgb(255 255 255) 53%,rgb(0 0 255 / 0%) 53%,rgb(0 0 255 / 0%) 100%);
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.viento{
  border: 1px solid #fff;
  width: 9rem;
  height: 9rem;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}


.mini > span{
  font-size: 1.5rem;
  color: aqua;
  margin: .1rem;
}

.maxi > span{
  font-size: 1.5rem;
  color: tomato;
  margin: .1rem;
}

.plus{
  translate: 0 -1rem;
  padding: 0;
  vertical-align: sub;
  color:white;
  font-size: xxx-large;
}